:root {
    --gradient: linear-gradient(90deg, #8263c2, #412283, #7b49e7);

}

.formPageContainer {
    padding: 5% 0;
    background: #ddd;
    background-size: 300%;
    background-image: var(--gradient);
    animation: bg-animation 25s infinite;
}

@keyframes bg-animation {
    0% {
        background-position: left
    }

    50% {
        background-position: right
    }

    100% {
        background-position: left
    }
}

.formContainer {
    margin: auto;
    padding: 2em 5em;
    border-radius: 10px;
    max-width: 70%;
    background-color: rgb(41, 39, 39);
    backdrop-filter: blur(5px);
}

.registerNow {
    margin: auto;
    padding: 1em;
    text-align: center;
    text-transform: uppercase;
    font-weight: 900;
    font-style: italic;
    font-size: 3rem;
    color: #ee6352;
    line-height: .8;
    margin: 0;
    background-image: var(--gradient);
    background-clip: text;
    color: transparent;
    background-size: 300%;
    transition: background-position 1s;
    -webkit-text-stroke: 0.5px white;
}

.registerNow:hover {
    background-position: right;
}

.formContainer>form>div {
    margin: 1.2em 0;
    color: white;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, auto));
    /* grid-template-columns: 40% 1fr; */
}

.formContainer>form>div>input[type='text'],
.formContainer>form>div>select {
    font-size: 1rem;
    padding: 0.3em;
}

.formContainer>form>div>select {
    cursor: pointer;
    margin-bottom: 1.5em;
}

.formContainer>form>div {
    font-size: 1.12rem;
}

.formContainer>form>div>div {
    padding: 0.5em 0;
}

.formContainer>form>div>label>span {
    color: red;
}

.formContainer>form>div>p {
    font-size: 1rem;
    font-style: italic;
    color: red;
    padding: 0.5em;
}

.registerButton {
    color: white;
    border: 0;
    cursor: pointer;
    padding: .5em 1.25em;
    font-size: 1.12rem;
    margin-bottom: 2em;
    background: var(--gradient);
    background-size: 300%;
    background-position: left;
    transition: background-position 700ms;
}

.registerButton:hover {
    background-position: right;
}