
@font-face {
    font-family: "Digital7";
    src: local("Digital7"),
     url("../../fonts/digital-7.ttf") format("truetype");
    font-weight: bold;
}

.countdown-container{
    background-color: rgb(30, 29, 88);
}

.fest-countdown{
    color: white;
    text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.3), 0 0 0.45em white;
    background-color : rgb(30, 29, 88);
    text-align: center;
    font-size: 2rem;
}

.layer-img-countdown{
    margin-top: -60%;
    z-index: -1;
}

.timer {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: 2em 0 8em 0;
    background: linear-gradient(to bottom, #1e1d58, #030331);
}

.timer>div, .time-colon {
    font-size: 1.5rem;
    color: whitesmoke;
    margin: 1.5em 1.5em;
    text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.3), 0 0 0.45em silver;
}

.timer>div>p{
    text-align: center;
}

.calc-font{
    font-family: Digital7;
    font-size: 3rem;
}

.time-colon{
    font-size: 2rem;
    font-weight: bolder;
}