/* .timer-container{
    width: 100vw;
} */

.countdown-container{
    background-color: rgb(30, 29, 88);
}

.fest-countdown{
    color: white;
    text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.3), 0 0 0.45em white;
    background-color : rgb(30, 29, 88);
    text-align: center;
    font-size: 2rem;
    /* margin-top: -7px; */
    /* margin-top: -5px; */
}

.layer-img-countdown{
    margin-top: -60%;
    z-index: -1;
}

.timer {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: 2em 0 4em 0;
    background: linear-gradient(to bottom, rgb(30, 29, 88), rgb(1, 1, 41));
    /* margin-top : -5px; */
}

.timer>div {
    font-size: 1.5rem;
    color: whitesmoke;
    margin: 2em 2.5em;
    text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.3), 0 0 0.45em silver;
}

.timer>div>p{
    text-align: center;
}