*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

#infinity-bg {
    position: absolute;
    z-index: -10;
}

.main-logo-container{
    display: flex;
    background-color: transparent;
    width: calc(100% - 20px);
    /* width: 100%; */
    height: 95vh;
    justify-content: center;
    align-items: center;
}

.logo-name-container{
    display: flex;
    height: 40vh;
    width: 50vw;
    justify-content: center;
    /* align-items: center; */
    z-index: 2;
    margin-top: -10em;
}

.img-ignite{
    margin-right: -35px;
}

/* .ignite-text-cont{
    background-color: #ff0400;
} */

.ignite-name{
    font-size: 7rem;
    /* margin-left: -35px; */
    color: #fff;
    font-family: 'Silkscreen', cursive;
    /* color : violet */
    background-image: linear-gradient(to right, #b896ff, #4745ef);
    background-clip: text;
    color : transparent;
    -webkit-text-stroke: 0.6px white;
}

.ignite-desc{
    color: #fff;
    text-align: center;
    font-size: 1.35rem;
    letter-spacing: 0.8em;
}














::-webkit-scrollbar{
    width: 0.5em;
}

::-webkit-scrollbar-track{
    background: rgb(37, 36, 36);
}

::-webkit-scrollbar-thumb{
    background: rgb(82, 67, 117);
    border: 0.7px solid #7255af;
}

::-webkit-scrollbar-thumb:hover{
    background: #7255af;
    border: 0.7px solid silver;
}