*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

.main-logo-container{
    display: flex;
    background-color: orangered;
    height: 92vh;
    justify-content: center;
    align-items: center;
}

.logo-name-container{
    display: flex;
    background-color: beige;
    height: 40vh;
    width: 50vw;
    justify-content: center;
    align-items: center;
}

.ignite-name{
    font-size: 5rem;
    margin-left: -35px;
}