*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

.about-container{
    background-color: black;
    height : 30vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to bottom, #6b4ab9, transparent);
}

.about-title{
    display: flex;
    padding-top: 10px;
    color: white;
}

.about-content{
    padding-right: 80px;
    padding-left: 50px;
    padding-top: 30px;
    padding-bottom: 30px;
    color: white;
}