.about-container{
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to bottom, #030331, #1a1717);
    padding: 0 10em;
}

.about-title{
    display: flex;
    padding-top: 10px;
    color: white;
    letter-spacing: 17px;
}

.about-content{
    padding-top: 30px;
    padding-bottom: 30px;
    color: white;
    font-size: 1.3rem;
    text-align: justify;
    letter-spacing: 2px;
}