* {
  margin: 0;
  padding: 0;
}

/* body{
    background-color: #252525;
} */
.sidenav-container {
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
}

.nav-container.active {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 250px;
  /* background-color: aliceblue; */
  background-image: linear-gradient(to bottom, #04283a, #072c47, #072a51, #172953, #25274d, #2f2c53, #2d2552, #2a2040, #292047, #1e1a43, #11103f, #060a2f);
  transition: all 0.3s ease-in-out;
  border-radius: 15px 0px 0px 15px;
  overflow: hidden;
}

.nav-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 50px;
  /* background-color: aliceblue; */
  background-image: linear-gradient(to bottom, #04283a, #072c47, #072a51, #172953, #25274d, #2f2c53, #2d2552, #2a2040, #292047, #1e1a43, #11103f, #060a2f);
  transition: all 0.3s ease-in-out;
  border-radius: 15px 0px 0px 15px;
}

.nav-container .burger-icon-container {
  display: flex;
  flex-direction: row-reverse;
  height: 35px;
  color : white;
}

.nav-container .burger-icon-container .burger {
  cursor: pointer;
  font-size: 25px;
  padding-right: 13px;
  transition: all 0.3s ease-in-out;
}

.nav-container .main-menu-container {
  display: flex;
  height: calc(100% - 35px);
  transition: all 0.3s ease-in-out;
  justify-content: center;
}

.nav-container .main-menu-container .menu-items {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
  transition: all 0.3s ease-in-out;
}

.nav-container .main-menu-container .menu-items .menu-list {
  list-style: none;
}

.nav-container .main-menu-container .menu-items .menu-list li {
  /* border-bottom: 0.2px solid white; */
  transition: all 0.3s ease-in-out;
  display: flex;
  padding: 15px;
  justify-content: center;
}

.faded-hz-line{
  border: 0;
  height: 1px;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(255, 255, 255, 0.85), rgba(0, 0, 0, 0));
}

.nav-container .main-menu-container .menu-items .menu-list .nav-items-link {
  text-decoration: none;
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.nav-container .main-menu-container .menu-items .menu-list .nav-items-link .hidden {
  display: none;
}

.nav-container .main-menu-container .menu-items .menu-list .nav-items-link .menu-name {
  padding-left: 20px;
}