*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #252525;
}

.nav-container.active{
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 250px;
    background-color: aliceblue;
    transition: all 0.3s ease-in-out;
    border-radius: 15px;
    overflow: hidden;
}

.nav-container{
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 50px;
    background-color: aliceblue;
    transition: all 0.3s ease-in-out;
    border-radius: 15px;
}

.nav-container .burger-icon-container{
    display: flex;
    flex-direction: row-reverse;
    height: 35px;
}

.nav-container .burger-icon-container .burger{
    cursor: pointer;
    font-size: 25px;
    padding-right: 13px;
    transition: all 0.3s ease-in-out;
}

.nav-container .main-menu-container{
    display: flex;
    height: calc(100% - 35px);
    transition: all 0.3s ease-in-out;
}

.nav-container .main-menu-container .menu-items{
    display: flex;
    transition: all 0.3s ease-in-out;
}

.nav-container .main-menu-container .menu-items:hover{
    color: white;
}

.nav-container .main-menu-container .menu-items .menu-list{
    list-style: none;
}

.nav-container .main-menu-container .menu-items .menu-list li{
    border-bottom : .2px solid gray;
    transition: all 0.3s ease-in-out;
}

.home-icon{
    border-top : .2px solid gray;
}

.nav-container .main-menu-container .menu-items .menu-list li:hover{
    border-bottom : .2px solid gray;
    background-color: rgb(147, 144, 144);
    border-radius: 7px;
}

.nav-container .main-menu-container .menu-items .menu-list li:hover a{
    color : white;
}

.nav-container .main-menu-container .menu-items .menu-list li a{
    text-decoration: none;
    color: black;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

li{
    padding: 15px;
    transition: all 0.3s ease-in-out;
}

.nav-container .main-menu-container .menu-items .menu-list .imported-i{
    font-size: 20px;
}

.nav-container .main-menu-container .menu-items .menu-list li a .hidden{
    display: none;
}

.nav-container .main-menu-container .menu-items .menu-list li a .menu-name{
    padding-left: 20px;
}